# Do not detect
*.cc -linguist-detectable=false
*.cpp -linguist-detectable=false
*.cmake linguist-detectable=false
*.cxx linguist-detectable=false

CMakeLists.txt linguist-detectable=false

# Detect
*.dart linguist-detectable=true